.history-container {
  @include max-width-height;
  text-align: center;
  color: white;

  padding: 2rem;

  h1 {
    font-family: $Arial;
    font-size: 3rem;
  }
}

.history-container-wrapper {
  @include max-width-height;
  @include flex(center, row, center);
}

.article-text-container {
  width: 50%;
  height: 500px;

  text-align: justify;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-family: $Arial;
    font-size: 1rem;
    width: calc(100% - 20px);
  }
}

.section-elden-tree {
  width: 50%;
  height: 500px;
  overflow: hidden;
}

.elden-tree-container-image {
  max-width: 100%;
  height: auto;
}

.elden-tree-container-image img {
  width: 800px;
  height: 500px;
  border-radius: 1rem;
  object-fit: cover;
}

@media screen and (max-width: 850px) {
  .section-elden-tree {
    display: none;
  }

  .history-container {
    padding: 0;
  }

  .article-text-container {
    width: 100%;
    padding: 1rem;
    height: auto;
  }
}
