.key-wrapper {
  width: 100%;
  height: auto;
  @include flex(none, column, none);
}

.key-wrapper {
  video {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
}

.key-title {
  width: 100%;
  @include text(white, $Arial);
  font-size: 3rem;
}

.video-container {
  width: 50%;

  @include flex(flex-end, none, none);
  padding-right: 1rem;
}

.video-container-right {
  width: 50%;

  @include flex(flex-start, none, none);
  padding-left: 1rem;
}

.text-container {
  width: 50%;
  padding-left: 1rem;
  padding-top: 2rem;

  @include flex(flex-start, column, none);

  p {
    @include text(white, $Cinzel);
    text-align: justify;
    width: 80%;
  }
}

.text-container-left {
  width: 50%;
  padding-right: 1rem;
  padding-top: 2rem;

  text-align: right;
  @include flex(flex-end, column, flex-end);

  p {
    @include text(white, $Cinzel);
    text-align: justify;
    width: 80%;
  }
}

.video-text-wrapper {
  max-width: 100%;
  height: auto;
  @include flex(center, row, center);

  margin-bottom: 5%;
}

.text-container-title-1 {
  @include title(400px, 4rem, left);
  @include position(10, none, -10%, none);
}

.text-container-title-2 {
  @include title(600px, 4rem, right);
  @include position(10, none, 10%, none);
}

.text-container-title-3 {
  @include title(400px, 4rem, left);
  @include position(10, none, -10%, none);
}

@media screen and (max-width: 850px) {
  .key-wrapper {
    text-align: center;
    width: none;
  }

  .key-wrapper {
    video {
      height: 220px;
      margin: 2rem;
    }
  }

  .key-title {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .video-text-wrapper {
    margin-top: 5%;
    flex-direction: column;
  }

  .video-container {
    width: 100%;
    height: auto;
    padding: 0;
    justify-content: center;
  }

  .video-container-right {
    width: 100%;
    height: auto;
    padding: 0;
    justify-content: center;
  }

  .text-container {
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.8rem;
    }
  }

  .text-container-title-1 {
    @include title(280px, 3rem, none);
    margin: 0;
    padding: 0;
    @include flex(flex-end, none, center);
    font-size: 0.8rem;
    position: absolute;
    top: 118%;
    left: 0%;
  }

  .text-container-title-2 {
    @include title(280px, 3rem, none);
    margin: 0;
    padding: 0;
    @include flex(flex-end, none, center);
    font-size: 0.8rem;
    position: absolute;
    top: 173%;
    left: 0%;
  }

  .text-container-title-3 {
    @include title(280px, 3rem, none);
    margin: 0;
    padding: 0;
    @include flex(flex-end, none, center);
    font-size: 0.8rem;
    position: absolute;
    top: 227%;
    left: 0%;
  }

  .text-container-left {
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.8rem;
    }
  }
}
