@font-face {
  font-family: "Cinzel";
  src: url("./fonts/cinzel.ttf");
}
@font-face {
  font-family: "Arial";
  src: url("./fonts/arialmt.ttf");
}
.header {
  width: 100%;
  max-height: auto;
  background-color: #030706;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding: 20px;
}
.header a {
  text-decoration: none;
  margin: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
}
.header a:hover {
  text-decoration: underline;
}
.header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 42px;
  width: 200px;
  height: auto;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.language-button {
  max-width: 30px;
  max-height: 30px;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  position: relative;
}
.language-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: white;
  -webkit-transition: width 200ms ease-in-out, left 200ms ease-in-out;
  transition: width 200ms ease-in-out, left 200ms ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.language-button:hover::after {
  width: 100%;
}

.shop-button {
  background-color: #7A6647;
  border-radius: 0.2rem;
  height: 30px;
  border: 2px solid #7A6647;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.shop-button:hover {
  color: #7A6647;
  background-color: #030706;
  border: 2px solid #7A6647;
}

.under-header-container {
  max-width: 100%;
  height: auto;
  margin-bottom: 13%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  font-size: 2rem;
  font-weight: normal;
}

.under-header-container article {
  width: 100%;
}

.left-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-header-container-image {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-header-container-image img {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 850px) {
  .under-header-container img {
    width: 140px;
  }
  .under-header-container {
    padding: 0;
    font-size: 1rem;
  }
}
.history-container {
  max-width: 100%;
  height: auto;
  text-align: center;
  color: white;
  padding: 2rem;
}
.history-container h1 {
  font-family: "Arial";
  font-size: 3rem;
}

.history-container-wrapper {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-text-container {
  width: 50%;
  height: 500px;
  text-align: justify;
}
.article-text-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.article-text-container p {
  font-family: "Arial";
  font-size: 1rem;
  width: calc(100% - 20px);
}

.section-elden-tree {
  width: 50%;
  height: 500px;
  overflow: hidden;
}

.elden-tree-container-image {
  max-width: 100%;
  height: auto;
}

.elden-tree-container-image img {
  width: 800px;
  height: 500px;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 850px) {
  .section-elden-tree {
    display: none;
  }
  .history-container {
    padding: 0;
  }
  .article-text-container {
    width: 100%;
    padding: 1rem;
    height: auto;
  }
}
.key-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.key-wrapper video {
  width: 100%;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.key-title {
  width: 100%;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  font-size: 3rem;
}

.video-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding-right: 1rem;
}

.video-container-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding-left: 1rem;
}

.text-container {
  width: 50%;
  padding-left: 1rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}
.text-container p {
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  text-align: justify;
  width: 80%;
}

.text-container-left {
  width: 50%;
  padding-right: 1rem;
  padding-top: 2rem;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.text-container-left p {
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  text-align: justify;
  width: 80%;
}

.video-text-wrapper {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.text-container-title-1 {
  position: relative;
  text-align: left;
  width: 400px;
  height: 4rem;
  padding: 2rem;
  background-color: #7A6647;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10;
  bottom: none;
  left: -10%;
  right: none;
}
.text-container-title-1 h1 {
  color: white;
  cursor: pointer;
  font-family: "Arial";
}

.text-container-title-2 {
  position: relative;
  text-align: right;
  width: 600px;
  height: 4rem;
  padding: 2rem;
  background-color: #7A6647;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10;
  bottom: none;
  left: 10%;
  right: none;
}
.text-container-title-2 h1 {
  color: white;
  cursor: pointer;
  font-family: "Arial";
}

.text-container-title-3 {
  position: relative;
  text-align: left;
  width: 400px;
  height: 4rem;
  padding: 2rem;
  background-color: #7A6647;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10;
  bottom: none;
  left: -10%;
  right: none;
}
.text-container-title-3 h1 {
  color: white;
  cursor: pointer;
  font-family: "Arial";
}

@media screen and (max-width: 850px) {
  .key-wrapper {
    text-align: center;
    width: none;
  }
  .key-wrapper video {
    height: 220px;
    margin: 2rem;
  }
  .key-title {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .video-text-wrapper {
    margin-top: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video-container {
    width: 100%;
    height: auto;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-container-right {
    width: 100%;
    height: auto;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-container {
    width: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-container p {
    font-size: 0.8rem;
  }
  .text-container-title-1 {
    position: relative;
    text-align: none;
    width: 280px;
    height: 3rem;
    padding: 2rem;
    background-color: #7A6647;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: none;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
    position: absolute;
    top: 118%;
    left: 0%;
  }
  .text-container-title-1 h1 {
    color: white;
    cursor: pointer;
    font-family: "Arial";
  }
  .text-container-title-2 {
    position: relative;
    text-align: none;
    width: 280px;
    height: 3rem;
    padding: 2rem;
    background-color: #7A6647;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: none;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
    position: absolute;
    top: 173%;
    left: 0%;
  }
  .text-container-title-2 h1 {
    color: white;
    cursor: pointer;
    font-family: "Arial";
  }
  .text-container-title-3 {
    position: relative;
    text-align: none;
    width: 280px;
    height: 3rem;
    padding: 2rem;
    background-color: #7A6647;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: none;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
    position: absolute;
    top: 227%;
    left: 0%;
  }
  .text-container-title-3 h1 {
    color: white;
    cursor: pointer;
    font-family: "Arial";
  }
  .text-container-left {
    width: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-container-left p {
    font-size: 0.8rem;
  }
}
.heroes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 100%;
  height: auto;
}

.heroes-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  max-width: 100%;
  height: auto;
  margin-bottom: 4rem;
}

.heroes-title {
  color: white;
  cursor: pointer;
  font-family: "Arial";
  margin-bottom: 1rem;
  font-size: 3rem;
}

.heroes-paragraph {
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  font-size: 1rem;
}

.heroes-images-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17%;
  max-width: 100%;
  height: auto;
}

.heroes-image-container {
  width: 360px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: rgba(122, 102, 71, 0.4);
  border: 4px solid white;
  -o-object-fit: cover;
     object-fit: cover;
}

.heroes-image-container img {
  width: 360px;
  height: 400px;
}

@media screen and (max-width: 850px) {
  .heroes-images-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heroes-image-container {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .heroes-image-container img {
    width: 100%;
    height: 300px;
  }
}
.input-container-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  width: 100%;
  height: auto;
}

.input-links-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  width: 100%;
  height: 400px;
}

.input-container {
  padding: 1rem;
  background-image: url("./InputImageContainer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  height: 400px;
}

.input-container-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  height: 100%;
}

.input-container-title {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  color: white;
  text-align: left;
}

.input-container-paragraph {
  font-size: 2rem;
  text-align: left;
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  margin-bottom: 2rem;
}

.input-container input {
  width: 100%;
  height: 60px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 1rem;
  color: rgb(46, 46, 46);
}

.links-container {
  padding: 1rem;
  width: 40%;
  height: 400px;
  background: rgba(122, 102, 71, 0.5);
}

.links-container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 2%;
  width: 40%;
  height: auto;
}

.input-container-submit-container {
  background-image: url("./UnderSectionContainer.svg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-container-submit-container-article {
  text-align: center;
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  font-size: 1.5rem;
}

.input-container-submit-container-article-button {
  width: 220px;
  height: 50px;
  background-color: #7A6647;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  border-radius: 10px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.input-container-submit-container-article-button:hover {
  color: #7A6647;
  background-color: #030706;
  border: 2px solid #7A6647;
}

@media screen and (max-width: 850px) {
  .input-container {
    width: 100%;
  }
  .input-links-container-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    height: auto;
  }
  .links-container {
    width: 100%;
  }
  .input-container-submit-container {
    height: 200px;
  }
  .input-container-submit-container-article {
    font-size: 1rem;
  }
  .input-container-submit-container-article-button {
    width: 150px;
    height: 60px;
  }
}
.container-wishlist-wrapper {
  margin-top: 8%;
  margin-bottom: 8%;
  width: 100%;
  height: auto;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-wishlist-selection-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  gap: 5%;
}

.container-wishlist-section {
  width: 300px;
  height: 60px;
  background-color: whitesmoke;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-wishlist-title {
  margin: 5rem;
}

.container-wishlist-section:hover {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #7A6647;
}

.container-wishlist-section p {
  font-size: 1.5rem;
  color: #7A6647;
  cursor: pointer;
  font-family: "Arial";
}

.container-wishlist-title {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  font-family: "Arial";
}

@media screen and (max-width: 850px) {
  .container-wishlist-selection-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-wishlist-section {
    width: 100%;
    height: 60px;
    margin: 1rem;
  }
}
.main-container {
  max-width: 100%;
  max-height: auto;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: auto;
}

.title-article {
  color: #caad81;
  cursor: pointer;
  font-family: "Cinzel";
  margin-bottom: 1rem;
  font-size: 3rem;
}

.article-paragraph {
  color: white;
  cursor: pointer;
  font-family: "Arial";
  margin-bottom: 2rem;
  font-size: 1.2rem;
  width: 100%;
}

.paragraph-container {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.container-images {
  max-width: 100%;
  height: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-images img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 500px;
  height: auto;
}

.ornament-container {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ornament {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 850px) {
  .title-article {
    font-size: 1rem;
  }
  .article-paragraph {
    font-size: 0.8rem;
    width: 400px;
    margin-bottom: 1rem;
  }
  .paragraph-container {
    max-width: 100%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-images img {
    width: 300px;
    height: auto;
    margin-bottom: 5%;
  }
}
.header-mobile {
  width: 100%;
  max-height: auto;
  height: 50px;
  padding: 10px;
  position: fixed;
  background-color: #030706;
  text-align: center;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-mobile {
  max-width: 120px;
  max-height: 120px;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.logo-mobile:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-mobile-icon {
  width: 20px;
  height: 20px;
}

.right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav {
  width: 100%;
  background-color: #030706;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: absolute;
  padding-left: 0.3rem;
  top: 100%;
  left: 0;
  z-index: 999;
}

.mobile-menu {
  text-align: left;
  list-style: none;
}

.shop-button-container {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-button-nav {
  background-color: #7A6647;
  height: 30px;
  border-radius: 0.2rem;
  border: 2px solid #7A6647;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.shop-button-nav:hover {
  color: #7A6647;
  background-color: #030706;
  border: 2px solid #7A6647;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
}

button {
  font-family: "Arial";
  border: none;
  padding: 10px;
  font-size: 1rem;
}

.margin {
  margin: 0.5rem;
}

img {
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  font-size: 0.8rem;
}
ul li a:hover {
  color: #7A6647;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.elden-line {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.elden-line img {
  width: 1000px;
  height: 50px;
  margin: 5%;
}

input::-webkit-input-placeholder {
  color: rgb(89, 88, 88);
}

input::-moz-placeholder {
  color: rgb(89, 88, 88);
}

input:-ms-input-placeholder {
  color: rgb(89, 88, 88);
}

input::-ms-input-placeholder {
  color: rgb(89, 88, 88);
}

input::placeholder {
  color: rgb(89, 88, 88);
}

@media screen and (max-width: 850px) {
  .elden-line img {
    width: 300px;
    height: 25px;
  }
}/*# sourceMappingURL=App.css.map */