@font-face {
  font-family: "Cinzel";
  src: url("./fonts/cinzel.ttf");
}
@font-face {
  font-family: "Arial";
  src: url("./fonts/arialmt.ttf");
}
.header {
  max-width: 100%;
  max-height: auto;
  background-color: #030706;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding: 20px;
}
.header a {
  text-decoration: none;
  margin: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
}
.header a:hover {
  text-decoration: underline;
}
.header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 42px;
  width: 200px;
  height: auto;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.language-button {
  max-width: 30px;
  max-height: 30px;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  position: relative;
}
.language-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: white;
  -webkit-transition: width 200ms ease-in-out, left 200ms ease-in-out;
  transition: width 200ms ease-in-out, left 200ms ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.language-button:hover::after {
  width: 100%;
}

.shop-button {
  background-color: #7A6647;
  border-radius: 0.2rem;
  height: 30px;
  border: 2px solid #7A6647;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.shop-button:hover {
  color: #7A6647;
  background-color: #030706;
  border: 2px solid #7A6647;
}

.under-header-container {
  max-width: 100%;
  height: auto;
  margin-bottom: 13%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  font-size: 2rem;
  font-weight: normal;
}

.under-header-container article {
  width: 100%;
}

.left-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-header-container-image {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-header-container-image img {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 850px) {
  .under-header-container img {
    width: 140px;
  }
  .under-header-container {
    padding: 0;
    font-size: 1rem;
  }
}
.history-container {
  max-width: 100%;
  height: auto;
  text-align: center;
  color: white;
  padding: 2rem;
}
.history-container h1 {
  font-family: "Arial";
  font-size: 3rem;
}

.history-container-wrapper {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-text-container {
  width: 50%;
  height: 500px;
  text-align: justify;
}
.article-text-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.article-text-container p {
  font-family: "Arial";
  font-size: 1rem;
  width: calc(100% - 20px);
}

.section-elden-tree {
  width: 50%;
  height: 500px;
  overflow: hidden;
}

.elden-tree-container-image {
  max-width: 100%;
  height: auto;
}

.elden-tree-container-image img {
  width: 1000px;
  height: 600px;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 850px) {
  .section-elden-tree {
    display: none;
  }
  .history-container {
    padding: 0;
  }
  .article-text-container {
    width: 100%;
    padding: 1rem;
    height: auto;
  }
}
.main-container {
  max-width: 100%;
  max-height: auto;
}

.header-mobile {
  max-width: 100%;
  max-height: auto;
  height: 50px;
  padding: 10px;
  background-color: #030706;
  text-align: center;
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-mobile {
  max-width: 120px;
  max-height: 120px;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.logo-mobile:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-mobile-icon {
  width: 20px;
  height: 20px;
}

.right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav {
  width: 100%;
  background-color: #030706;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: absolute;
  padding-left: 0.3rem;
  top: 100%;
  left: 0;
  z-index: 999;
}

.mobile-menu {
  text-align: left;
  list-style: none;
}

.shop-button-container {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-button-nav {
  background-color: #7A6647;
  height: 30px;
  border-radius: 0.2rem;
  border: 2px solid #7A6647;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.shop-button-nav:hover {
  color: #7A6647;
  background-color: #030706;
  border: 2px solid #7A6647;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-attachment: fixed;
}

button {
  font-family: "Arial";
  border: none;
  padding: 10px;
  font-size: 1rem;
}

.margin {
  margin: 0.5rem;
}

img {
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: "Cinzel";
  font-size: 0.8rem;
}
ul li a:hover {
  color: #7A6647;
}

.margin-bottom {
  margin-bottom: 1rem;
}/*# sourceMappingURL=App.css.map */