@import "./tools/mixins";

.header {
  max-width: 100%;
  max-height: auto;
  background-color: $header-color;

  @include flex(space-between, row, none);
  padding: 20px;

  a {
    text-decoration: none;
    margin: 1rem;
    font-size: 1rem;
    @include text(white, $Cinzel);

    &:hover {
      text-decoration: underline;
    }
  }

  section {
    @include flex(center, row, center);
  }
}

.logo {
  margin-right: 42px;
  width: 200px;
  height: auto;
  transition: 100ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.language-button {
  max-width: 30px;
  max-height: 30px;
  @include text(white, $Arial);

  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 200ms ease-in-out, left 200ms ease-in-out;
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%;
  }
}

.shop-button {
  background-color: $white-brown;
  border-radius: 0.2rem;
  height: 30px;
  border: 2px solid $white-brown;
  font-weight: bold;
  @include flex(center, none, center);
  @include text(white, $Arial);

  transition: 300ms ease;

  &:hover {
    color: $white-brown;
    background-color: $header-color;
    border: 2px solid $white-brown;
  }
}

// Under Header
.under-header-container {
  max-width: 100%;
  height: auto;

  margin-bottom: 13%;

  padding: 1rem;

  @include flex(center, row, center);
  @include text(white, $Cinzel);
  font-size: 2rem;
  font-weight: normal;
}
.under-header-container article {
  width: 100%;
}

.left-article {
  @include flex(left, none, center);
}

.right-article {
  @include flex(right, none, center);
}

.under-header-container-image {
  width: 100%;
  height: auto;
  @include flex(center, none, center);
}

.under-header-container-image img {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 850px) {
  .under-header-container img {
    width: 140px;
  }

  .under-header-container {
    padding: 0;
    font-size: 1rem;
  }
}
