// Tools
@import "./tools/_Fonts.scss";
@import "./tools/Colors.scss";

// components-desktop
@import "./Header.scss";
@import "./main/Main";
@import "./Footer.scss";

// components-mobile
@import "./phone/HeaderMobile";

// Global variables
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/back.png");
  background-repeat: no-repeat;
  background-size: cover;

  overflow-x: hidden;

  background-position: center;
  background-attachment: fixed;

  background-color: black;
}

button {
  font-family: "Arial";
  border: none;
  padding: 10px;
  font-size: 1rem;
}

.margin {
  margin: 0.5rem;
}

img {
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  @include text(white, $Cinzel);
  font-size: 0.8rem;

  &:hover {
    color: $white-brown;
  }
}

.margin-bottom {
  margin-bottom: 1rem;
}

// span
.elden-line {
  max-width: 100%;
  height: auto;
  @include flex(center, none, center);

  img {
    width: 1000px;
    height: 50px;

    margin: 5%;
  }
}

input::placeholder {
  color: rgb(89, 88, 88);
}

@media screen and (max-width: 850px) {
  .elden-line img {
    width: 300px;
    height: 25px;
  }
}
