@mixin flex($justify, $direction, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin text($color, $font) {
  color: $color;
  cursor: pointer;
  font-family: $font;
}

@mixin max-width-height {
  max-width: 100%;
  height: auto;
}